/* COLOR VARIABLES
============================================= */
$white: #F4EEFB;
$amikom: #482373;
$purple1: #361261;
$purple2: #653E92;
$purple3: #822985;
$yellow: #FEBF1C;
$orange: #F4912A;
$orange2: #F26932;

/* GRADIENT LISTS
============================================= */

$list1: $amikom 0%, $purple3 100%; 
$list2: $purple1 0%, $purple3 100%; 

@mixin gradient($direction, $list) { 
  background: -webkit-linear-gradient(to $direction, $list);
  background: -moz-linear-gradient(to $direction, $list);
  background: -o-linear-gradient(to $direction, $list);
  background: linear-gradient(to $direction, $list);  
}

.gds-purple-1 {
  background: $amikom;
  @include gradient(left, $list1);
}

.gde-purple-1 {
  background: $amikom;
  @include gradient(right, $list1);
}

.gdt-purple-1 {
  background: $amikom;
  @include gradient(top, $list1);
}

.gdb-purple-1 {
  background: $amikom;
  @include gradient(bottom, $list1);
}

.gds-purple-2 {
  background: $amikom;
  @include gradient(left, $list2);
}

.gde-purple-2 {
  background: $amikom;
  @include gradient(right, $list2);
}

.gdt-purple-2 {
  background: $amikom;
  @include gradient(top, $list2);
}

.gdb-purple-2 {
  background: $amikom;
  @include gradient(bottom, $list2);
}

.status-bar {
  background-color: $purple2 !important;
}

/*===== All Preloader Style =====*/
.preloader {
  /* Body Overlay */
  position: fixed;
  top: 0;
  left: 0;
  display: table;
  height: 100%;
  width: 100%;
  /* Change Background Color */
  background: white;
  z-index: 99999;
}

.preloader .loader {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.preloader .loader.loader-logo{
  position: absolute;
  left: 50%;
  top: 50%;
  width: 64px;
  margin-left: -32px;
  z-index: 18;
  pointer-events: none;
}

.preloader .loader .spinner {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 92px;
  margin-left: -46px;
  z-index: 18;
  pointer-events: none;
}

.preloader .loader .spinner .spinner-container {
  pointer-events: none;
  position: absolute;
  width: 100%;
  padding-bottom: 100%;
  top: 50%;
  left: 50%;
  margin-top: -50%;
  margin-left: -50%;
  animation: spinner-linspin 1568.2353ms linear infinite;
}

.preloader .loader .spinner .spinner-container .spinner-rotator {
  position: absolute;
  width: 100%;
  height: 100%;
  animation: spinner-easespin 5332ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.preloader .loader .spinner .spinner-container .spinner-rotator .spinner-left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  overflow: hidden;
  right: 50%;
}

.preloader .loader .spinner .spinner-container .spinner-rotator .spinner-right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  left: 50%;
}

.preloader .loader .spinner-circle {
  box-sizing: border-box;
  position: absolute;
  width: 200%;
  height: 100%;
  border-style: solid;
  /* Spinner Color */
  border-color: $purple3 $purple3 $white;
  border-radius: 50%;
  border-width: 6px;
}

.preloader .loader .spinner-left .spinner-circle {
  left: 0;
  right: -100%;
  border-right-color: $white;
  animation: spinner-left-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

.preloader .loader .spinner-right .spinner-circle {
  left: -100%;
  right: 0;
  border-left-color: $white;
  animation: right-spin 1333ms cubic-bezier(0.4, 0, 0.2, 1) infinite both;
}

/* Preloader Animations */

@keyframes spinner-linspin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes spinner-easespin {
  12.5% {
    transform: rotate(135deg);
  }
  25% {
    transform: rotate(270deg);
  }
  37.5% {
    transform: rotate(405deg);
  }
  50% {
    transform: rotate(540deg);
  }
  62.5% {
    transform: rotate(675deg);
  }
  75% {
    transform: rotate(810deg);
  }
  87.5% {
    transform: rotate(945deg);
  }
  to {
    transform: rotate(1080deg);
  }
}

@keyframes spinner-left-spin {
  0% {
    transform: rotate(130deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  to {
    transform: rotate(130deg);
  }
}

@keyframes right-spin {
  0% {
    transform: rotate(-130deg);
  }
  50% {
    transform: rotate(5deg);
  }
  to {
    transform: rotate(-130deg);
  }
}

.v-speed-dial {
  bottom: 2rem;
}

.v-btn--floating {
  position: relative;
}

.v-data-table>.v-data-table__wrapper>table>thead>tr>th {
  font-weight: normal;
  font-size: 18px;
}

.v-data-table>.v-data-table__wrapper>table>tbody>tr>td {
  font-weight: normal;
  font-size: 16px;
}